body{
    text-align: center;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    background-color: #6bbbae;
}
.ContactList p{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}
.ContactList h1{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}