.hairThings h1{
    color: #669900;
    font-size: 100px;
}
.content{
    padding: 5%;
    flex: 1 1 100%;
    min-height: 100vh;
    align-items: center;
}
.hair-portfolio{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 135px);
    grid-template-columns: repeat(5, 135px);
    grid-gap: 2px;
    justify-content: center;
}

.hair-portfolio-item{
    background:blue;
    color:black;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    font-size: 1.5em;
    background-size: cover;
    background-position: top left; 
    transition: all ease-in 300ms;
    position: relative;
    z-index: 20;

}

.hair-portfolio-item.medium{
    grid-row: span 2;
    grid-column: span 2;
}
.hair-portfolio-item.large{
    grid-row: span 3;
    grid-column: span 3;
}
.hair-portfolio-item.small{
grid-row: span 1;
grid-column: span 1;
}
.hair-portfolio-item.tall{
    grid-row: span 3;
    grid-column: span 2;
}
.hair-portfolio-item.wide{
    grid-row: span 2;
    grid-column: span 3;
}
 